<ul class="breadcrumb">
    <li style="color: #0066FF;" ><a href=""><i class="bi bi-house-door"></i></a></li>
    <li ><i style="margin-left: 5px;" class="bi bi-chevron-right"></i></li>
    <lis style="color: #666;" >WatchStore Xả Kho - Mua đồng hồ giá tốt </li>


    
</ul>

<div class="banner-shop">
    <div class="banner-shop-item"><img src="/UpLoad/Banner/BANNERDSSP1.png" alt=""></div>
    <div class="banner-shop-item"><img src="/UpLoad/Banner/BANNERDSSP2.png" alt=""></div>
    <div class="banner-shop-item"><img src="/UpLoad/Banner/BANNERDSSP3.png" alt=""></div>
    <div class="banner-shop-item"><img src="/UpLoad/Banner/BANNERDSSP4.png" alt=""></div>

</div>
<!-- scrip banner-shop -->
<script type="text/javascript">
    $(document).ready(function(){
        $('.banner-shop').slick({
      slidesToShow: 2,
  slidesToScroll: 1,
  autoplay: true,
  autoplaySpeed: 2000,
    });
  });
</script>
<!-- BEGIN  filterbox -->
<div class="filter-box">
<div id="boloc" class="filter-box-item"><i style="font-size: 14px;margin-right: 5px;" class="bi bi-funnel"></i>Bộ lọc
    <!--BEGIN sub BOLOC -->
    <div id="sub-boloc" class="sub-boloc">
      <!-- brand -->
        <div class="brand">
          <div class="brand-title">Thương hiệu</div>
          <a  class="brand-item" href=""><img src="/UpLoad/Brand/Brand-item1.png" alt=""></a>
          <a  class="brand-item" href=""><img src="/UpLoad/Brand/Brand-item2.png" alt=""></a>
          <a  class="brand-item" href=""><img src="/UpLoad/Brand/Brand-item3.png" alt=""></a>
          <a  class="brand-item" href=""><img src="/UpLoad/Brand/Brand-item4.png" alt=""></a>
          <a  class="brand-item" href=""><img src="/UpLoad/Brand/Brand-item5.png" alt=""></a>
          <a  class="brand-item" href=""><img src="/UpLoad/Brand/Brand-item6.png" alt=""></a>
          <a  class="brand-item" href=""><img src="/UpLoad/Brand/Brand-item7.png" alt=""></a>
          <a  class="brand-item" href=""><img src="/UpLoad/Brand/Brand-item6.png" alt=""></a>
          <a  class="brand-item" href=""><img src="/UpLoad/Brand/Brand-item5.png" alt=""></a>
          <a  class="brand-item" href=""><img src="/UpLoad/Brand/Brand-item4.png" alt=""></a>
          <a  class="brand-item" href=""><img src="/UpLoad/Brand/Brand-item3.png" alt=""></a>
          <a  class="brand-item" href=""><img src="/UpLoad/Brand/Brand-item2.png" alt=""></a>
          <a  class="brand-item" href=""><img src="/UpLoad/Brand/Brand-item1.png" alt=""></a>


         

        </div>
        <div class="price"></div>
        <div class="price"></div>
        <div class="price"></div>
        <div class="price"></div>
        <div class="price"></div>

      
    </div>
    <!--END sub BOLOC -->

  
    <script>
      $(document).ready(function(){
        $("#boloc").click(function(){
         $("#sub-boloc").slideToggle("slow");
       });
      });
    </script>
</div>
<div class="filter-box-item">Thương hiệu<i class="bi bi-caret-down-fill"></i></div>
<div class="filter-box-item">Giá<i class="bi bi-caret-down-fill"></i></div>
<div class="filter-box-item">Đối tượng sử dụng<i class="bi bi-caret-down-fill"></i></div>
<div class="filter-box-item">Loại đồng hồ<i class="bi bi-caret-down-fill"></i></div>
<div class="filter-box-item">Mặt đồng hồ<i class="bi bi-caret-down-fill"></i></div>
<div class="filter-box-item">Chất liệu<i class="bi bi-caret-down-fill"></i></div>
<div class="filter-box-item">Màu sắc<i class="bi bi-caret-down-fill"></i></div>
<div class="filter-box-item">Tính năng<i class="bi bi-caret-down-fill"></i></div>
</div>
<!-- BEGIN  filterbox -->

<!-- BEGIN filter-checkbox -->
<div class="filter-checkbox">
    <input type="checkbox" name="nameABC" value="1" id="giamgia">
    <label for="giamgia">Giảm sâu từ 30%</label>
    <input type="checkbox" name="nameABC" value="2" id="tanggia">
    <label for="tanggia">Mua Orient tặng Casio</label>
</div>
<!-- END filter-checkbox -->

<!-- BEGIN hdh -->
<div class="hdh">
    <h1>393 WatchStore Xả Kho - Mua đồng hồ giá tốt</h1>
    <!-- BEGIN ARRANG -->
    
    <div id="a" class="arrang-hdh" >Sắp xếp theo: Giảm giá nhiều <i class="bi bi-caret-down-fill"></i>
        <!-- BEGIN sub-filter-checkbox -->

        <div id="b" class="sub-arrang-hdh" >
            <ul>
                <li><a href=""><i class="bi bi-award-fill"></i> Nổi bật</a> </li>
                <li><a href=""><i class="bi bi-patch-check"></i> Bán chạy nhất</a> </li>
                <li><a href=""><i class="bi bi-sort-up"></i> Giá thấp đến cao</a> </li>
                <li><a href=""><i class="bi bi-sort-down"></i> Giá cao đến thấp</a> </li>
                <li><a href="">% Khuyến mãi</a> </li>
            </ul>
        </div>
        <script>
          $(document).ready(function(){
       $("#a").click(function(){
         $("#b").slideToggle("fast");
       });
     });
         </script>

        <!--END sub-filter-checkbox -->

    </div>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> -->
    <!-- END ARRANG -->
</div>
<!-- END hdh -->
 
<!-- BEGIN DSSP-main -->
<div class="dssp-main">

  <!-- 1 -->
    <div class="dssp-product">
        <div class="dssp-product-main">
          <!-- img -->
          <div class="img-dssp-product"><a href=""><img src="/UpLoad/Product/fls-product1.png" alt=""></a> </div>
          <!-- name -->
          <div class="name-dssp-product">
            <h3>Orient 43mm Nam FAG00003W0</h3>
          </div>
          <!-- price -->
          <div class="price-dssp-product">
            <ul>
              <li> <a style="color:rgb(237,28,36);font-weight: bold;font-size: 16px;" href="">6.030.000₫</a></li>
              <li style="display: flex;"><a style="color:rgb(164,164,164);font-size: 14px;text-decoration-line:line-through" >8.050.000₫</a> <div class="fls-discount">-25%</div></li>
    
            </ul>
          </div>
          <!-- rating -->
          <div class="dssp-rating">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-half"></i>
            <i class="bi bi-star"></i>
            <i style="font-size: 14px;font-style: normal;" >9</i>
          </div>
    
        </div>
      </div>
    <!-- 2 -->
    <div class="dssp-product">
        <div class="dssp-product-main">
          <!-- img -->
          <div class="img-dssp-product"><a href=""><img src="/UpLoad/Product/fls-product1.png" alt=""></a> </div>
          <!-- name -->
          <div class="name-dssp-product">
            <h3>Orient 43mm Nam FAG00003W0</h3>
          </div>
          <!-- price -->
          <div class="price-dssp-product">
            <ul>
              <li> <a style="color:rgb(237,28,36);font-weight: bold;font-size: 16px;" href="">6.030.000₫</a></li>
              <li style="display: flex;"><a style="color:rgb(164,164,164);font-size: 14px;text-decoration-line:line-through" >8.050.000₫</a> <div class="fls-discount">-25%</div></li>
    
            </ul>
          </div>
          <!-- rating -->
          <div class="dssp-rating">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-half"></i>
            <i class="bi bi-star"></i>
            <i style="font-size: 14px;font-style: normal;" >9</i>
          </div>
    
        </div>
      </div>
    <!-- 3 -->
    <div class="dssp-product">
        <div class="dssp-product-main">
          <!-- img -->
          <div class="img-dssp-product"><a href=""><img src="/UpLoad/Product/fls-product1.png" alt=""></a> </div>
          <!-- name -->
          <div class="name-dssp-product">
            <h3>Orient 43mm Nam FAG00003W0</h3>
          </div>
          <!-- price -->
          <div class="price-dssp-product">
            <ul>
              <li> <a style="color:rgb(237,28,36);font-weight: bold;font-size: 16px;" href="">6.030.000₫</a></li>
              <li style="display: flex;"><a style="color:rgb(164,164,164);font-size: 14px;text-decoration-line:line-through" >8.050.000₫</a> <div class="fls-discount">-25%</div></li>
    
            </ul>
          </div>
          <!-- rating -->
          <div class="dssp-rating">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-half"></i>
            <i class="bi bi-star"></i>
            <i style="font-size: 14px;font-style: normal;" >9</i>
          </div>
    
        </div>
      </div>
    <!-- 4 -->
    <div class="dssp-product">
        <div class="dssp-product-main">
          <!-- img -->
          <div class="img-dssp-product"><a href=""><img src="/UpLoad/Product/fls-product1.png" alt=""></a> </div>
          <!-- name -->
          <div class="name-dssp-product">
            <h3>Orient 43mm Nam FAG00003W0</h3>
          </div>
          <!-- price -->
          <div class="price-dssp-product">
            <ul>
              <li> <a style="color:rgb(237,28,36);font-weight: bold;font-size: 16px;" href="">6.030.000₫</a></li>
              <li style="display: flex;"><a style="color:rgb(164,164,164);font-size: 14px;text-decoration-line:line-through" >8.050.000₫</a> <div class="fls-discount">-25%</div></li>
    
            </ul>
          </div>
          <!-- rating -->
          <div class="dssp-rating">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-half"></i>
            <i class="bi bi-star"></i>
            <i style="font-size: 14px;font-style: normal;" >9</i>
          </div>
    
        </div>
      </div>
    <!-- 5 -->
    <div class="dssp-product">
        <div class="dssp-product-main">
          <!-- img -->
          <div class="img-dssp-product"><a href=""><img src="/UpLoad/Product/fls-product1.png" alt=""></a> </div>
          <!-- name -->
          <div class="name-dssp-product">
            <h3>Orient 43mm Nam FAG00003W0</h3>
          </div>
          <!-- price -->
          <div class="price-dssp-product">
            <ul>
              <li> <a style="color:rgb(237,28,36);font-weight: bold;font-size: 16px;" href="">6.030.000₫</a></li>
              <li style="display: flex;"><a style="color:rgb(164,164,164);font-size: 14px;text-decoration-line:line-through" >8.050.000₫</a> <div class="fls-discount">-25%</div></li>
    
            </ul>
          </div>
          <!-- rating -->
          <div class="dssp-rating">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-half"></i>
            <i class="bi bi-star"></i>
            <i style="font-size: 14px;font-style: normal;" >9</i>
          </div>
    
        </div>
      </div>
    <!-- 6 -->
    <div class="dssp-product">
      <div class="dssp-product-main">
        <!-- img -->
        <div class="img-dssp-product"><a href=""><img src="/UpLoad/Product/fls-product1.png" alt=""></a> </div>
        <!-- name -->
        <div class="name-dssp-product">
          <h3>Orient 43mm Nam FAG00003W0</h3>
        </div>
        <!-- price -->
        <div class="price-dssp-product">
          <ul>
            <li> <a style="color:rgb(237,28,36);font-weight: bold;font-size: 16px;" href="">6.030.000₫</a></li>
            <li style="display: flex;"><a style="color:rgb(164,164,164);font-size: 14px;text-decoration-line:line-through" >8.050.000₫</a> <div class="fls-discount">-25%</div></li>
    
          </ul>
        </div>
        <!-- rating -->
        <div class="dssp-rating">
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-half"></i>
          <i class="bi bi-star"></i>
          <i style="font-size: 14px;font-style: normal;" >9</i>
        </div>
    
      </div>
    </div>
    <!-- 7 -->
    <div class="dssp-product">
      <div class="dssp-product-main">
        <!-- img -->
        <div class="img-dssp-product"><a href=""><img src="/UpLoad/Product/fls-product1.png" alt=""></a> </div>
        <!-- name -->
        <div class="name-dssp-product">
          <h3>Orient 43mm Nam FAG00003W0</h3>
        </div>
        <!-- price -->
        <div class="price-dssp-product">
          <ul>
            <li> <a style="color:rgb(237,28,36);font-weight: bold;font-size: 16px;" href="">6.030.000₫</a></li>
            <li style="display: flex;"><a style="color:rgb(164,164,164);font-size: 14px;text-decoration-line:line-through" >8.050.000₫</a> <div class="fls-discount">-25%</div></li>
    
          </ul>
        </div>
        <!-- rating -->
        <div class="dssp-rating">
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-half"></i>
          <i class="bi bi-star"></i>
          <i style="font-size: 14px;font-style: normal;" >9</i>
        </div>
    
      </div>
    </div>
    <!-- 8 -->
    <div class="dssp-product">
      <div class="dssp-product-main">
        <!-- img -->
        <div class="img-dssp-product"><a href=""><img src="/UpLoad/Product/fls-product1.png" alt=""></a> </div>
        <!-- name -->
        <div class="name-dssp-product">
          <h3>Orient 43mm Nam FAG00003W0</h3>
        </div>
        <!-- price -->
        <div class="price-dssp-product">
          <ul>
            <li> <a style="color:rgb(237,28,36);font-weight: bold;font-size: 16px;" href="">6.030.000₫</a></li>
            <li style="display: flex;"><a style="color:rgb(164,164,164);font-size: 14px;text-decoration-line:line-through" >8.050.000₫</a> <div class="fls-discount">-25%</div></li>
    
          </ul>
        </div>
        <!-- rating -->
        <div class="dssp-rating">
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-half"></i>
          <i class="bi bi-star"></i>
          <i style="font-size: 14px;font-style: normal;" >9</i>
        </div>
    
      </div>
    </div>
    <!-- 9 -->
    <div class="dssp-product">
      <div class="dssp-product-main">
        <!-- img -->
        <div class="img-dssp-product"><a href=""><img src="/UpLoad/Product/fls-product1.png" alt=""></a> </div>
        <!-- name -->
        <div class="name-dssp-product">
          <h3>Orient 43mm Nam FAG00003W0</h3>
        </div>
        <!-- price -->
        <div class="price-dssp-product">
          <ul>
            <li> <a style="color:rgb(237,28,36);font-weight: bold;font-size: 16px;" href="">6.030.000₫</a></li>
            <li style="display: flex;"><a style="color:rgb(164,164,164);font-size: 14px;text-decoration-line:line-through" >8.050.000₫</a> <div class="fls-discount">-25%</div></li>
    
          </ul>
        </div>
        <!-- rating -->
        <div class="dssp-rating">
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-half"></i>
          <i class="bi bi-star"></i>
          <i style="font-size: 14px;font-style: normal;" >9</i>
        </div>
    
      </div>
    </div>
    <!-- 10 -->
    <div class="dssp-product">
      <div class="dssp-product-main">
        <!-- img -->
        <div class="img-dssp-product"><a href=""><img src="/UpLoad/Product/fls-product1.png" alt=""></a> </div>
        <!-- name -->
        <div class="name-dssp-product">
          <h3>Orient 43mm Nam FAG00003W0</h3>
        </div>
        <!-- price -->
        <div class="price-dssp-product">
          <ul>
            <li> <a style="color:rgb(237,28,36);font-weight: bold;font-size: 16px;" href="">6.030.000₫</a></li>
            <li style="display: flex;"><a style="color:rgb(164,164,164);font-size: 14px;text-decoration-line:line-through" >8.050.000₫</a> <div class="fls-discount">-25%</div></li>
    
          </ul>
        </div>
        <!-- rating -->
        <div class="dssp-rating">
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-half"></i>
          <i class="bi bi-star"></i>
          <i style="font-size: 14px;font-style: normal;" >9</i>
        </div>
    
      </div>
    </div>
    <!-- 11 -->
    <div class="dssp-product">
      <div class="dssp-product-main">
        <!-- img -->
        <div class="img-dssp-product"><a href=""><img src="/UpLoad/Product/fls-product1.png" alt=""></a> </div>
        <!-- name -->
        <div class="name-dssp-product">
          <h3>Orient 43mm Nam FAG00003W0</h3>
        </div>
        <!-- price -->
        <div class="price-dssp-product">
          <ul>
            <li> <a style="color:rgb(237,28,36);font-weight: bold;font-size: 16px;" href="">6.030.000₫</a></li>
            <li style="display: flex;"><a style="color:rgb(164,164,164);font-size: 14px;text-decoration-line:line-through" >8.050.000₫</a> <div class="fls-discount">-25%</div></li>
    
          </ul>
        </div>
        <!-- rating -->
        <div class="dssp-rating">
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-half"></i>
          <i class="bi bi-star"></i>
          <i style="font-size: 14px;font-style: normal;" >9</i>
        </div>
    
      </div>
    </div>
    <!-- 12 -->
    <div class="dssp-product">
      <div class="dssp-product-main">
        <!-- img -->
        <div class="img-dssp-product"><a href=""><img src="/UpLoad/Product/fls-product1.png" alt=""></a> </div>
        <!-- name -->
        <div class="name-dssp-product">
          <h3>Orient 43mm Nam FAG00003W0</h3>
        </div>
        <!-- price -->
        <div class="price-dssp-product">
          <ul>
            <li> <a style="color:rgb(237,28,36);font-weight: bold;font-size: 16px;" href="">6.030.000₫</a></li>
            <li style="display: flex;"><a style="color:rgb(164,164,164);font-size: 14px;text-decoration-line:line-through" >8.050.000₫</a> <div class="fls-discount">-25%</div></li>
    
          </ul>
        </div>
        <!-- rating -->
        <div class="dssp-rating">
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-half"></i>
          <i class="bi bi-star"></i>
          <i style="font-size: 14px;font-style: normal;" >9</i>
        </div>
    
      </div>
    </div>
    <!-- 13 -->
    <div class="dssp-product">
      <div class="dssp-product-main">
        <!-- img -->
        <div class="img-dssp-product"><a href=""><img src="/UpLoad/Product/fls-product1.png" alt=""></a> </div>
        <!-- name -->
        <div class="name-dssp-product">
          <h3>Orient 43mm Nam FAG00003W0</h3>
        </div>
        <!-- price -->
        <div class="price-dssp-product">
          <ul>
            <li> <a style="color:rgb(237,28,36);font-weight: bold;font-size: 16px;" href="">6.030.000₫</a></li>
            <li style="display: flex;"><a style="color:rgb(164,164,164);font-size: 14px;text-decoration-line:line-through" >8.050.000₫</a> <div class="fls-discount">-25%</div></li>
    
          </ul>
        </div>
        <!-- rating -->
        <div class="dssp-rating">
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-half"></i>
          <i class="bi bi-star"></i>
          <i style="font-size: 14px;font-style: normal;" >9</i>
        </div>
    
      </div>
    </div>
    <!-- 14 -->
    <div class="dssp-product">
        <div class="dssp-product-main">
          <!-- img -->
          <div class="img-dssp-product"><a href=""><img src="/UpLoad/Product/fls-product1.png" alt=""></a> </div>
          <!-- name -->
          <div class="name-dssp-product">
            <h3>Orient 43mm Nam FAG00003W0</h3>
          </div>
          <!-- price -->
          <div class="price-dssp-product">
            <ul>
              <li> <a style="color:rgb(237,28,36);font-weight: bold;font-size: 16px;" href="">6.030.000₫</a></li>
              <li style="display: flex;"><a style="color:rgb(164,164,164);font-size: 14px;text-decoration-line:line-through" >8.050.000₫</a> <div class="fls-discount">-25%</div></li>
    
            </ul>
          </div>
          <!-- rating -->
          <div class="dssp-rating">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-half"></i>
            <i class="bi bi-star"></i>
            <i style="font-size: 14px;font-style: normal;" >9</i>
          </div>
    
        </div>
      </div>
    <!-- 15 -->
    <div class="dssp-product">
        <div class="dssp-product-main">
          <!-- img -->
          <div class="img-dssp-product"><a href=""><img src="/UpLoad/Product/fls-product1.png" alt=""></a> </div>
          <!-- name -->
          <div class="name-dssp-product">
            <h3>Orient 43mm Nam FAG00003W0</h3>
          </div>
          <!-- price -->
          <div class="price-dssp-product">
            <ul>
              <li> <a style="color:rgb(237,28,36);font-weight: bold;font-size: 16px;" href="">6.030.000₫</a></li>
              <li style="display: flex;"><a style="color:rgb(164,164,164);font-size: 14px;text-decoration-line:line-through" >8.050.000₫</a> <div class="fls-discount">-25%</div></li>
    
            </ul>
          </div>
          <!-- rating -->
          <div class="dssp-rating">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-half"></i>
            <i class="bi bi-star"></i>
            <i style="font-size: 14px;font-style: normal;" >9</i>
          </div>
    
        </div>
      </div>

</div>

<!-- END DSSP-main -->

<!-- BEGIN CATEGORY --> 
 
<div style="display: grid;" class="category">
    <div style="    font-size: 16px;
    padding-top: 10px;
    margin-top: 30px;
   border-top: 1px solid #E0E0E0;">Xem thêm các mục khác</div>
    <!-- category-main -->
    <div class="category-main">
      <!-- 1 -->
      <div class="category-item">
        <a href=""> <img src="/UpLoad/Category/category-item1.png" alt=""> <h4>Đồng Hồ Nam</h4></a>
        <a href=""> <img src="/UpLoad/Category/category-item2.png" alt=""> <h4>Đồng Hồ Cơ</h4></a>
      </div>
      <!-- 2 -->
      <div class="category-item">
        <a href=""> <img src="/UpLoad/Category/category-item3.png" alt=""> <h4>Đồng Hồ Nữ </h4></a>
        <a href=""> <img src="/UpLoad/Category/category-item4.png" alt=""> <h4>Đồng Hồ Nhật Bản</h4></a>
      </div>
      <!-- 3 -->
      <div class="category-item">
        <a href=""> <img src="/UpLoad/Category/category-item5.png" alt=""> <h4>Đồng Hồ Thụy Sỹ</h4></a>
        <a href=""> <img src="/UpLoad/Category/category-item6.png" alt=""> <h4>Đồng Hồ Pin/Quartz</h4></a>
      </div>
      <!-- 4 -->
      <div class="category-item">
        <a href=""> <img src="/UpLoad/Category/category-item7.png" alt=""> <h4>Đồng Hồ Điện Tử</h4></a>
        <a href=""> <img src="/UpLoad/Category/category-item8.png" alt=""> <h4>Đồng Hồ Dây Kim Loại</h4></a>
      </div>
      <!-- 5 -->
      <div class="category-item">
        <a href=""> <img src="/UpLoad/Category/category-item9.png" alt=""> <h4>Đồng Hồ Cao Cấp</h4></a>
        <a href=""> <img src="/UpLoad/Category/category-item10.png" alt=""> <h4>Đồng Hồ Dây Da</h4></a>
      </div>
    </div>
  </div>
  <!-- END CATEGORY -->

  <div class="Content-dssp" > 
    <p>Đây là danh sách các mẫu đồng hồ mà WatchStore chọn ra để bán giá tốt nhất cho khách hàng, chúng tôi cam kết đây là những mẫu đồng hồ còn mới và rất mới. Lý do chúng tôi xả kho là: nhằm tối ưu vốn và giảm bớt hàng tồn kho do nhập số lượng lớn hoặc quá lớn. Tất nhiên chúng tôi bán dần thì cũng sẽ hết nhưng chúng tôi muốn mang tới cho khách hàng cơ hội được sở hữu những chiếc đồng hồ chính hãng với giá tốt nhất có thể.</p>
    <p>
    </p>
    <p>Lưu ý: Khách qua shop xem hàng vui lòng báo trước để chúng tôi chuẩn bị sẵn hàng, do chúng tôi có rất nhiều mã hàng nên không thể bày hết ở cửa hàng. Xin cám ơn!</p> 
    <p>Chương Trình Xả Kho Quanh Năm</p> 
  </div>