<!-- /* BEGIN BANNER */ -->

<div class="banner">

    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
           <div class="swiper-slide"><img src="http://localhost:3000/UpLoad/banner/banner1.png" alt=""></div>
          <div class="swiper-slide"><img src="http://localhost:3000/UpLoad/banner/banner-dan-van-phong.png" alt=""></div>
         
      
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
      </div>
    
      <!-- Swiper JS -->
      <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    
      <!-- Initialize Swiper -->
      <script>
        var swiper = new Swiper(".mySwiper", {
          spaceBetween: 30,
          centeredSlides: true,
          autoplay: {
            delay: 2500,
            disableOnInteraction: false,
          },
          pagination: {
            el: ".swiper-pagination",
            clickable: true,
          },
          navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
          },
        });
      </script>
<!-- /* END BANNER */ -->
 
<!--BEGIN treatment -->
<div class="treatment">
  <div class="treatment-info">
    <div class="treatment-info-left">
      <i class="bi bi-watch"></i>
    </div>
    <div class="treatment-info-right">
      <h4>Mẫu mã đa dạng nhất</h4>
      <p>Hoàn tiền 20 lần nếu phát hiện hàng giả</p>

    </div>
  </div>

  <div class="treatment-info">
    <div class="treatment-info-left">
      <i class="bi bi-watch"></i>
    </div>
    <div class="treatment-info-right">
      <h4>Miễn phí vận chuyển</h4>
      <p>Giao hàng nhanh, đóng gói cẩn thận</p>

    </div>
  </div>

  <div class="treatment-info">
    <div class="treatment-info-left">
      <i class="bi bi-watch"></i>
    </div>
    <div class="treatment-info-right">
      <h4>Đổi hàng 7 ngàyt</h4>
      <p>1 đổi 1 trong 7 ngày với sản phẩm lỗi</p>

    </div>
  </div>

  <div class="treatment-info">
    <div class="treatment-info-left">
      <i class="bi bi-watch"></i>
    </div>
    <div class="treatment-info-right">
      <h4>Bảo hành 5 năm</h4>
      <p>Thụ tục nhanh gọn, thay pin miễn phí</p>

    </div>
  </div>

  <div class="treatment-info">
    <div class="treatment-info-left">
      <i class="bi bi-watch"></i>
    </div>
    <div class="treatment-info-right">
      <h4>
        Đeo trước trả sau</h4>
      <p>Trả trước 1 phần, 2 phần còn lại trả sau</p>

    </div>
  </div>

</div>


<!--END treatment -->



  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="http://localhost:3000/UpLoad/banner/banner1.png" alt=""></div>
      <div class="swiper-slide"><img src="http://localhost:3000/UpLoad/banner/banner-dan-van-phong.png" alt=""></div>


    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>
  <!-- /* END BANNER */ -->
  <!--BEGIN treatment -->
  <div class="treatment">
    <div class="treatment-info">
      <div class="treatment-info-left">
        <i class="bi bi-watch"></i>
      </div>
      <div class="treatment-info-right">
        <h4>Mẫu mã đa dạng nhất</h4>
        <p>Hoàn tiền 20 lần nếu phát hiện hàng giả</p>

      </div>
    </div>

    <div class="treatment-info">
      <div class="treatment-info-left">
        <i class="bi bi-watch"></i>
      </div>
      <div class="treatment-info-right">
        <h4>Miễn phí vận chuyển</h4>
        <p>Giao hàng nhanh, đóng gói cẩn thận</p>

      </div>
    </div>

    <div class="treatment-info">
      <div class="treatment-info-left">
        <i class="bi bi-watch"></i>
      </div>
      <div class="treatment-info-right">
        <h4>Đổi hàng 7 ngàyt</h4>
        <p>1 đổi 1 trong 7 ngày với sản phẩm lỗi</p>

      </div>
    </div>

    <div class="treatment-info">
      <div class="treatment-info-left">
        <i class="bi bi-watch"></i>
      </div>
      <div class="treatment-info-right">
        <h4>Bảo hành 5 năm</h4>
        <p>Thụ tục nhanh gọn, thay pin miễn phí</p>

      </div>
    </div>

    <div class="treatment-info">
      <div class="treatment-info-left">
        <i class="bi bi-watch"></i>
      </div>
      <div class="treatment-info-right">
        <h4>
          Đeo trước trả sau</h4>
        <p>Trả trước 1 phần, 2 phần còn lại trả sau</p>

      </div>
    </div>

  </div>

  <!-- /* END BANNER */ -->

  <!--END treatment -->

