/*cart*/
body a,
h1,
h2,
h3,
h4 {
    font-family: Arial;
    text-decoration: none;
}


.cart-body{
    width: 1170px;
    margin: auto;

}
.title{
    width: 1170px;
    height: 57px;
    line-height: 57px;
    margin: auto;
}
.title h3{
    margin-left: 20px;
}
.cart-product{
    width: 1170px;
    display: flex;
    
}
.cart-product-left{
    width: 847px;
    height: 500px;
    margin:20px ;
   

}
.cart-product-right{
    width: 262px;
    height: 355px;
    margin: 20px;
}
.product-left{
    width: 100%;
    height: 177px;
    display: flex;
    border-bottom: 1px solid rgb(220, 215, 215);
}
.product-left:last-child{
    border-bottom:none;
}
.image-prd{
    width: 196px;
    height: 147px;
    margin: 15px;
}
.image-prd img{
    width: auto;
    height:100%;
}

.sub-product{
    width: 635px;
    height: 67px;
    display: flex;
}
.sub-product ul{
    width: 350px;
    height: 67px;
}
.sub-product li{
    list-style: none;
    margin-top: 5px;
    font-size: 13px;
 
}
.box-price{
   font-weight: bold;
   font-size: 17px;
   margin-right: 40px;
}

.sub-quantity{
    display: flex;
}
.sub-quantity button{
    width: 32px;height: 28px; background-color: white;border: 1px solid rgb(133, 129, 129);
}
.sub-quantity input{
    margin-left: -5px;
    margin-right: -5px;

}
.sub-price{
    width: 272px;
    height: 61px;
    display: flex;
    line-height: 61px;
    border-bottom: 1px solid rgb(133, 129, 129);
}
.sub-price h{
    font-size: 14px;
 font-weight: bold;
 margin-right: 140px;
}
.sub-price div{
      font-size: 16px;
 font-weight: bold;

}
.price{
    width: 272px;
    height: 61px;
    display: flex;
    line-height: 61px;
}
.pay{
    width: 307px;
    height: 40px;
    background-color: rgb(50, 138, 221);
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    color: white;
    margin-top: 20px;
    border: 1px solid white;
    border-radius: 5px;
}
.pay:hover{
    background-color: rgb(141, 118, 209);
    scale: 1.1;
    transition: .4 all;
}
.shop-continute{
    width: 262px;
    height: 40px;
    border: 1px solid rgb(232, 24, 84);
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    color: rgb(232, 24, 84);
    margin-top: 20px;
border-radius: 5px;
}

.sub-quantity button,.pay,.shop-continute{
    cursor: pointer;
}