.m-t-2{
    margin-top: 2rem;
}

.p-1{
    padding: 1rem;
}
.p-2{
    padding: 2rem;
}

.btn {
    border-radius: 2px;
    text-transform: capitalize;
    font-size: 15px;
    padding: 10px 19px;
    cursor: pointer;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.wrapper{
    margin: 0 auto;
    display: block;
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card .card-header {
    background-color: transparent;
    border-bottom: none;
    text-align: center;
    position: relative;
    -webkit-box-shadow: 0px 1px 20px 0px rgba(69, 90, 100, 0.08);
    box-shadow: 0px 1px 20px 0px rgba(69, 90, 100, 0.08);
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.card .card-header h3:after {
    content: "";
    background-color: #448aff;
    position: absolute;
    left: 0px;
    top: 0;
    width: 4px;
    height: 100%;
}


/* //Login */

.login{
    display: -webkit-box;
}
.buynow {
    padding: 5px 15px;
    opacity: 0;
  }

  .buynow:hover {
    background: #893dc3;
    border: 0;
    color: #fff;
    background-image: none;
    background: #662d91;
    border: 0;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 500;
    margin: 0 auto;
    padding: 5px 15px;
    line-height: 1.8rem;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    transition: all .4s;
    opacity: 1;
  }
.form-login {
    display: block;
    background: #fff;
    box-shadow: 0 0 17px 0px rgb(0 0 0 / 6%);
    border-radius: 12px;
    max-width: 700px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.form-control {
    display: inline-block;
    height: 31px;
    width: 100%;
    border-radius: 0;
    font-weight: 400;
    padding: 0;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #ccc;
}

.form-control:focus {
    border-color: transparent;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #ccc;
}

.foget-login{
    display: block;
    text-align: right;
    
}

