table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

*,
:before,
:after {
  box-sizing: inherit;
}

html {
  /* font: 14px/18px 'Helvetica Neue',sans-serif; */
  font: 14px/18px Arial, Helvetica, sans-serif;
  color: #333;
  line-height: 1.5;
}

body {
  margin: 0;
  background: #fff;
  min-width: 1024px;
  display: block;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.header-wrapper {
  position: fixed;
  top: 0;
  width: 80%;
  right: 0;
  height: 40px;
  padding: 10px 0px;
  background: #f1f3f4;
}

.header-container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  clear: both;
}

.align-center {
  align-items: center;
}

.header-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Menu Navbar */

.navbar-wrapper {
  background: rgb(248 248 248);
  height: 100vh;
  background: linear-gradient(153deg, white, #e1e1e1);
  width: 250px;
  justify-content: center;
  display: flex;
}

#cssmenu {
  display: flex;
  align-items: center;
  justify-content: center;
}

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  box-sizing: border-box;
}

#cssmenu>ul>li>a {
  padding: 22px 17px;
  font-size: 15px;
  text-decoration: none;
  font-weight: 500;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  padding-left: 11px;
}

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 7px;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  box-sizing: border-box;
  line-height: 2.6;
  color: #6c6c6c;
  font-size: 16px;
}

#cssmenu ul li {
  position: initial;
}

#cssmenu>ul>li {
  flex-shrink: 0;
  flex-grow: 1;
}

.text_menu {
  line-height: 2.6;
  padding: 15px;
  color: #6c6c6c;
  font-size: 16px;
}

#cssmenu ul>li :hover {
  /* background: rgba(19, 203, 173, 0.18);
  font-size: 17px; */
  color: rgb(42, 157, 240);
  transition: all .5s;
  font-size: 17px;
}



/* //Footer */

.footer {
  background: #020101;
  border-top: 1px solid #ebebeb;
  color: #F8F8F8;
}

.coppy_right {
  text-align: center;
  background: #F8F8F8;
  color: #333333;
  font-size: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  line-height: 20px;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

/* begin menu css */

.seach-product {
  width: 220px;
  height: 38px;
  position: relative;
  margin-left: 30px;
}

.admin-login {
  color: white;
  line-height: 42px;
  font-size: 24px;
  margin-left: 20px;
  z-index: 10;
  position: relative;
}

.card-shop-header {
  color: white;
  line-height: 42px;
  font-size: 24px;
  margin-left: 20px;
  z-index: 10;
  position: relative;
}

.admin-sub {
  border-radius: 12px;
  box-shadow: 1px solid black;
  box-shadow: 0px 3px 5px 1px rgb(0 0 0 / 42%);
  box-shadow: 1px saddlebrown;
  width: 164px;
  height: auto;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: -111px;
  display: none;
}

.admin-sub ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  margin-top: 4px;

}

.admin-sub li {
  font-size: 13px;
  line-height: 25px;

}

.admin-sub a {
  text-decoration: none;
  color: rgb(78 69 69);
  font-size: 15px;
  margin-left: 10px;
}

.admin-sub a:hover {
  color: #880404;
  font-size: 16px;
  transition: all .4s;
}

.admin-login .iconuser:hover {
  cursor: pointer;
}

.search-acount {
  position: absolute;
  right: 50px;
  top: 7px;
}

.logo_web {
  background: rgb(211 220 224);
  height: 60px;
  display: block;
  line-height: 80px;
  text-align-last: center;
}