*,
:before,
:after {
  box-sizing: inherit;
}

/* Reset some default styles for better consistency */
body,
h1,
h2,
p,
table {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

html {
  /* font: 14px/18px 'Helvetica Neue',sans-serif; */
  font: 14px/18px Arial, Helvetica, sans-serif;
  color: #333;
  line-height: 1.5;
}

body {
  margin: 0;
  background: #ffffff;
  min-width: 1024px;
  /* background-image: url('/UpLoad/Public/maxresdefault.jpg');
  background-size: cover; */
  display: block;
}

input:disabled {
  cursor: default;
  background: #eaeaea;
  color: #ca3232;
  background-color: -internal-light-dark(rgba(239, 239, 239, 0.3), rgba(59, 59, 59, 0.3));
  color: -internal-light-dark(rgb(84, 84, 84), rgb(170, 170, 170));
  border-color: rgba(118, 118, 118, 0.3);
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.header-wrapper {
  position: fixed;
  top: 0;
  width: 82%;
  right: 0;
  z-index: 999999999;
  height: 40px;
  padding: 10px 0px;
  background: #f1f3f4;
}

.header-container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  clear: both;
}

.align-center {
  align-items: center;
}

.header-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.m-t-2 {
  margin-top: 2rem;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.input-group>.custom-select:not(:first-child),
.input-group>.form-control:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group>.custom-file,
.input-group>.custom-select,
.input-group>.form-control {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}

.input-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-warning {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-info {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-light {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

button,
select {
  text-transform: none;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-success:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}

.btn-danger:hover {
  color: #fff;
  background-color: #aa2e3a;
  border-color: #aa2e3a;
}

.btn-secondary:hover {
  color: #fff;
  background-color: rgb(40, 11, 14);
  border-color: rgb(40, 11, 14);
}

.btn:focus,
.btn:hover {
  text-decoration: none;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.wrapper {
  margin: 0 auto;
  display: block;
}

.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  border: none;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
}

.card .card-header {
  background-color: transparent;
  border-bottom: none;
  text-align: center;
  position: relative;
  -webkit-box-shadow: 0px 1px 20px 0px rgba(69, 90, 100, 0.08);
  box-shadow: 0px 1px 20px 0px rgba(69, 90, 100, 0.08);
}

.card-header:first-child {
  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.card .card-header h3:after {
  content: "";
  background-color: #448aff;
  position: absolute;
  left: 0px;
  top: 0;
  width: 4px;
  height: 100%;
}

.form-control {
  display: inline-block;
  height: 31px;
  width: 100%;
  border-radius: 0;
  font-weight: 400;
  padding: 0;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #ccc;
}

.form-control:focus {
  border-color: transparent;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #ccc;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -9;
  background-color: #000;
}

.modal-backdrop.show {
  opacity: .5;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop {
  z-index: -9;
}

.fade.show {
  opacity: 1;
}

/* Menu Navbar */

.navbar-wrapper {
  position: fixed;
  height: 100vh;
  box-shadow: 0px 3px 5px 1px rgb(173 167 167 / 42%);
  width: 250px;
  justify-content: center;
  display: flex;
}

#cssmenu {
  display: flex;
  align-items: center;
  justify-content: center;
}

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  box-sizing: border-box;
}

#cssmenu>ul>li>a {
  padding: 22px 17px;
  font-size: 15px;
  text-decoration: none;
  font-weight: 500;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  padding-left: 11px;
}

.btn-group-sm>.btn,
.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 7px;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  top: -10px;
  box-sizing: border-box;
  line-height: 2.6;
  color: #6c6c6c;
  font-size: 15px;
}

#cssmenu ul li {
  position: initial;
}

#cssmenu>ul>li {
  flex-shrink: 0;
  flex-grow: 1;
}

.text_menu {
  line-height: 2.6;
  padding: 15px;
  color: #6c6c6c;
  font-size: 16px;
}

#cssmenu ul>li :hover {
  /* background: rgba(19, 203, 173, 0.18);
  font-size: 17px; */
  color: rgb(42, 157, 240);
  transition: all .5s;
  /* font-size: 17px; */
}

.menu-level-2 ul li {
  list-style: none;
}

.menu-level-2 ul li a {
  font-size: 14px;
  text-decoration: blink;
}

/* //Footer */

.footer {
  background: #020101;
  border-top: 1px solid #ebebeb;
  color: #F8F8F8;
}

.coppy_right {
  text-align: center;
  background: #F8F8F8;
  color: #333333;
  font-size: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  line-height: 20px;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

/* begin menu css */

.seach-product {
  width: 220px;
  height: 38px;
  position: relative;
  margin-left: 30px;
}

.admin-login {
  color: white;
  line-height: 42px;
  font-size: 24px;
  margin-left: 20px;
  z-index: 10;
  position: relative;
}

.card-shop-header {
  color: white;
  line-height: 42px;
  font-size: 24px;
  margin-left: 20px;
  z-index: 10;
  position: relative;
}

.admin-sub {
  border-radius: 12px;
  box-shadow: 1px solid black;
  box-shadow: 0px 3px 5px 1px rgb(0 0 0 / 42%);
  box-shadow: 1px saddlebrown;
  width: 164px;
  height: auto;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: -111px;
  display: none;
}

.admin-sub ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  margin-top: 4px;

}

.admin-sub li {
  font-size: 13px;
  line-height: 25px;

}

.admin-sub a {
  text-decoration: none;
  color: rgb(78 69 69);
  font-size: 15px;
  margin-left: 10px;
}

.admin-sub a:hover {
  color: #880404;
  font-size: 16px;
  transition: all .4s;
}

.admin-noti {
  overflow-y: auto;
  border-radius: 12px;
  box-shadow: 1px solid black;
  box-shadow: 0px 3px 5px 1px rgb(0 0 0 / 42%);
  box-shadow: 1px saddlebrown;
  width: 300px;
  height: 273px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: -213px;
  display: none;
}

.admin-noti ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  margin-top: 4px;

}

.admin-noti li {
  font-size: 13px;
  line-height: 0px;

}

.admin-noti a {
  text-decoration: none;
  color: rgb(78 69 69);
  font-size: 15px;
}

.admin-noti a:hover {
  color: #880404;
  font-size: 16px;
  transition: all .4s;
}

.admin-login .iconuser:hover {
  cursor: pointer;
}

#sider-icon-full:hover {
  cursor: pointer;
}

.search-acount {
  position: absolute;
  right: 50px;
  top: 7px;
}

.logo_web {
  background: rgb(255, 255, 255);
  height: 60px;
  display: block;
  line-height: 80px;
  text-align-last: center;
}

#wrapper-admin {
  right: 35px;
  width: 78%;
  position: absolute;
  top: 59px;
  display: block;
  margin: 0 auto;
}

/* Style the table */
.styled-table {
  border: 1px solid;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

/* Style the table header */
.styled-table thead {
  background-color: #333;
  color: #fff;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
}

/* Style alternate rows differently */
.styled-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Hover effect on rows */
.styled-table tbody tr:hover {
  background-color: #ddd;
}

.pagination {
  text-align: center;
  margin-top: 20px;
}

.pagination ul {
  list-style: none;
  padding: 0;
}

.pagination li {
  display: inline;
  margin: 5px;
}

.pagination a {
  text-decoration: none;
  padding: 5px 10px;
  margin: 10px;
  background-color: #007BFF;
  color: #fff;
  border-radius: 5px;
}

.pagination a:hover {
  background-color: #314e6e;
}
input[type='checkbox'] {
  transform: scale(2); /* Tùy chỉnh kích thước bằng cách sử dụng transform */
}
